.vagrant
modules/shell/files/secrets
modules/moin/manifests/settings.pp
modules/deliver/manifests/settings.pp
modules/deliver/files/members.json
modules/deliver/files/config.py
modules/cookery/manifests/settings.pp
modules/sirech/manifests/settings.pp
modules/sirech/files/authorized_keys
